{
  "experimental": true,
  "log-level": "info",
  "log-driver": "syslog",
  "icc": false,
  "userland-proxy": false,
  "no-new-privileges": true,
  {{ DOCKER_DAEMON_EXTRA_OPTIONS[ansible_hostname] | default('') }}
  "debug": false
}
